profiles {

    standard {
        process.executor = 'local'
    }

    cluster {
		process.executor = 'slurm' 
		process.scratch = true
		process.maxRetries     = 1
		process.errorStrategy  = 'retry'

		process {
   			withLabel: big_mem {
			  clusterOptions = {"-A $params.project"}
			  cpus = { 8 * task.attempt }
			  memory = { 52.GB * task.attempt }
			  queue = 'core'
			  time = { 3.h * task.attempt }
    		}
    		withLabel: mid_mem {
			  clusterOptions = {"-A $params.project"}
			  cpus = { 4 * task.attempt }
			  queue = 'core'
			  time = { 3.h * task.attempt }
    		}
    		withLabel: small {
			  clusterOptions = {"-A $params.project"}
			  cpus = { 1 * task.attempt }
			  queue = 'core'
			  time = { 1.h * task.attempt }
    		}

			withName:fastqc {
			  container = 'docker://staphb/fastqc'
			  singularity.enabled = true
			  docker.enabled = false
			}
		}

    }


    singularity {
        process.executor = 'slurm'
        docker.enabled = false
        singularity.enabled = true

    }

}


// software paths
params.crisprcounterpath="/proj/sllstore2017103/nbis5351/For_NBIS" // path to executable CrisprCounter.jar
