profiles {

    standard {
        process.executor = 'local'
    }

    cluster {
		process.executor = 'slurm' 
		process.scratch = true

		process {
   			withLabel: big_mem {
			  clusterOptions = {"-A $params.project"}
			  cpus = 8
			  memory = 52.GB
			  queue = 'core'
			  time = 3.h
    		}
    		withLabel: mid_mem {
			  clusterOptions = {"-A $params.project"}
			  cpus = 4
			  queue = 'core'
			  time = 1.h
    		}
    		withLabel: small {
			  clusterOptions = {"-A $params.project"}
			  cpus = 1
			  queue = 'core'
			  time = 1.h
    		}

		}

    }

    singularity {
        process.executor = 'slurm'
        process.container = 'cbcrg/imagex' //// NNNN
        docker.enabled = false
        singularity.enabled = true

    }

}
