profiles {

	standard {
		process.executor = 'local'
	}


	cluster {
		process{
			executor = 'slurm'
			scratch = false
			errorStrategy = 'retry'
			clusterOptions = {"-A $params.clustalloc"}

			//params.crisprcounterpath="/proj/sllstore2017103/software/CrisprCounter" // hardcoded path to executable CrisprCounter.jar in filesystem

			withLabel: big_mem {
				queue = 'core'
				cpus = { 8 * task.attempt }
				memory = { 52.GB * task.attempt }
			    time = { 3.h * task.attempt }
				maxRetries = 1
			}
			withLabel: mid_mem {
				cpus = { 4 * task.attempt }
				queue = 'core'
				time = { 3.h * task.attempt }
				maxRetries = 3
			}
			withLabel: small {
				cpus = { 1 * task.attempt }
				queue = 'core'
				time = { 1.h * task.attempt }
				maxRetries = 3
			}
		}
	}

    singularity {
        docker.enabled = false
        singularity.enabled = true
        process.executor = 'slurm' 

        // counter path
        params.crisprcounterpath="/opt/myjar" // path to executable CrisprCounter.jar in container

        // singularity cache and library - hardcoded at the moment
        singularity.libraryDir="/proj/sllstore2017103/software/containers"
		singularity.cacheDir="/proj/sllstore2017103/software/containers"


        process {
			withName: report_reads {
			  container = 'docker://agatasm/rpckg-crispr-rep'
			}
			withName: report_RSL {
			  container = 'docker://agatasm/rpckg-crispr-rep'
			}
			withName: fastqc {
			  container = 'docker://staphb/fastqc'
			}
 
			withName: prep_library_files {
			  container = 'file:///crex/proj/sllstore2017103/software/containers/crisprcounter-perl.sif'
			}

			withName: mageck_count_reads {
			  container = 'docker://agatasm/mageck-perl'
			}

			withName: mageck_rra_reads {
			  container = 'docker://agatasm/mageck-perl'
			}

			withName: crispr_counter  {
			  container = 'file:///crex/proj/sllstore2017103/software/containers/crisprcounter-perl.sif'
			}

			withName: filter_RSL  {
			  container = 'file:///crex/proj/sllstore2017103/software/containers/crisprcounter-perl.sif'
			}

			withName: mageck_rra_RSL {
			  container = 'docker://agatasm/mageck-perl'
			}

        }

    }

}




