params {

	// path to dir with tech replicates
	fastqdir = "/proj/sllstore2017103/B.Schmierer_22_09_Brunello_NEW_Inputs/P26070/FASTQ"

	// library design file
	librarydesign = "/proj/sllstore2017103/nbis5351/apr_2024_run2/Brunello_Library_USE_THIS_ONLY.csv"

	// file with filenames of tech replicates
	sampleinfo = "/proj/sllstore2017103/nbis5351/apr24_input/noref/samples.txt"

	// allocation
	project = "snic2022-22-1180"

	// run name
	projname = "inputrun_noref_29iv2024"

	// use reference data
	//usereference = "TRUE"
	usereference = FALSE"

	// path to count table with evaluation data set
	refdatacnttable = "/proj/sllstore2017103/software/tests/ref_data/Heldin2020/Calle_Heldin.UMIcounts.csv"

	refdatapref = "RefData.CH.UMIcounts"

	// additional filtering by RowSums to remove low abundance RSL-sgRNA combinations in reference data
	filtRowSums = 1
}
