params {
        librarydesignRSL = "/proj/AB1234/libraries/Brunello/UMICount_Brunello_Library_USE_THIS_ONLY.tsv"
        librarydesign = "/proj/AB1234/libraries/Brunello/Brunello_Library_USE_THIS_ONLY.csv"
        libraryinputfilt = "/proj/AB1234/libraries/Brunello/Input_Brunello_mod.filtered.csv"
        libraryGMT = "/proj/AB1234/libraries/Brunello/Brunello.gmt"

        project = "snic2021-NN-XXX"

        projname = "MyProject.UMIcounts"

        fastqdir = "/proj/AB1234/tst_data/fastq/"
        sampleinfo = "/proj/AB1234/tst_data/metadata/metadata.txt"
        comparisons = "/proj/AB1234/tst_data/metadata/comparisons.txt"
        organism = "hs"
        
        filtRowSums = "0"
}
