params {
        librarydesign = "/proj/AB1234/libraries/Brunello/Brunello_Library_USE_THIS_ONLY.eol.csv"
        libraryinputfilt = "/proj/AB1234/libraries/input_filtered/Brunello.filtered.csv"

        project = "snic2021-NN-XXX"

        projname = "MyProject.UMIcounts"

        fastqdir = "/proj/AB1234/tst_data/fastq/"
        sampleinfo = "/proj/AB1234/tst_data/metadata/metadata.txt"
        comparisons = "/proj/AB1234/tst_data/metadata/comparisons.txt"
        scatters = "/proj/AB1234/tst_data/metadata/scatters.txt"
        // if no scatter plots are output
        //scatters = ""

        organism = "hs"
        
        //////////////////////////////
        // RSL filtering params
        filtRowSums = "0"


        /////////////////////////////
        // names of the paramteres and available values are in commented headers

        //mageck count params
        // norm-method (total, median, control)
        mageckCountNorm = "control"
        // type of control list (sgRNA, gene)
        mageckCountCtrl = "gene"
        // file with control genes; if path not given (see below), features marked CON* in librarydesign file will be used
        //control_file = "/proj/software/tests/crispr-screen-test/gprc_ctrl.txt"
        control_file = ""


}
