params {
        librarydesign = "/proj/AB1234/libraries/Brunello/Brunello_Library_USE_THIS_ONLY.eol.csv"
        libraryinputfilt = "/proj/AB1234/libraries/input_filtered/Brunello.filtered.csv"

        project = "snic2021-NN-XXX"

        projname = "MyProject.UMIcounts"

        fastqdir = "/proj/AB1234/tst_data/fastq/"
        sampleinfo = "/proj/AB1234/tst_data/metadata/metadata.txt"
        comparisons = "/proj/AB1234/tst_data/metadata/comparisons.txt"
        organism = "hs"
        
        //////////////////////////////
        // RSL filtering params
        filtRowSums = "0"


        /////////////////////////////
        // names of the paramteres and available values are in commented headers

        //mageck count params
        // norm-method (total, median)
        mageckCountNorm = "total"
}
