profiles {

    standard {
        process.executor = 'local'
    }

    cluster {
		process.executor = 'slurm' 
		process.scratch = true
		process.maxRetries     = 4
		process.errorStrategy  = 'retry'


		process {
   			withLabel: big_mem {
			  clusterOptions = {"-A $params.project"}
			  cpus = { 8 * task.attempt }
			  memory = { 52.GB * task.attempt }
			  queue = 'core'
			  time = { 3.h * task.attempt }
    		}


    		withLabel: small {
			  clusterOptions = {"-A $params.project"}
			  cpus = { 4 * task.attempt }
			  queue = 'core'
			  time = { 3.h * task.attempt }
    		}

    	}

    }


    singularity {
        docker.enabled = false
        singularity.enabled = true
        process.executor = 'slurm' 

        // counter path
        params.crisprcounterpath="/opt/myjar" // path to executable CrisprCounter.jar in container

        // singularity cache and library - hardcoded at the moment
        singularity.libraryDir="/proj/sllstore2017103/software/containers"
		singularity.cacheDir="/proj/sllstore2017103/software/containers"


        process {
			withName: report {
			  container = 'docker://agatasm/rpckg-crispr-rep'
			}
 
			withName: crispr_counter {
			  container = 'file:///crex/proj/sllstore2017103/software/containers/crisprcounter-perl.sif'
			}

			withName: filter_input {
			  container = 'file:///crex/proj/sllstore2017103/software/containers/perl-5.30.3.img'
			}

        }

    }


}

