profiles {

    standard {
        process.executor = 'local'
    }

    cluster {
		process.executor = 'slurm' 
		process.scratch = true
		process.maxRetries     = 1
		process.errorStrategy  = 'retry'
		process.cpus = { 4 * task.attempt }
		process.clusterOptions = {"-A $params.project"}
		process.queue = 'core'
		process.time = { 3.h * task.attempt }

    }


}

